body {
    font-family: "Poppins", arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

h1 {
    font-size: 1.6rem;
}

.slogan {
    text-align: center;
}

.slogan_thin {
    font-weight: 200;
}

.slogan_semi-bold {
    font-weight: 600;
}

.app-description__paragraph {
    text-align: center;
}

.app-description {
    padding: 5rem 0rem;
    width: 340px;
}

.content__app-description {
    margin: auto;   
}