body {
    color: #a9a9a9;
    font-family: "Poppins", arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    background-color: hsl(0, 0%, 98%);
}

h1 {
    font-size: 1.6rem;
}

.heading_thin {
    font-weight: 200;
}

.heading_semi-bold {
    font-weight: 600;
    color: #525252;
}

.app-description {
    padding: 5rem 0rem;
    width: 340px;
    text-align: center;
}

.app-description_centered {
    margin: auto;
}

.card {
    background-color: white;
    border-radius: 5px;
    border-top: black .25rem solid;
    box-shadow: 0px 20px 50px -5px hsl(234, 12%, 34%, 0.5);
    display: flex;
    flex-direction: column;
    height: 250px;
    margin: 0 0 2rem 0;
    padding: 2rem;
    width: 310px;
}

.card_cyan {
    border-color: hsl(180, 62%, 55%)
}

.card_red {
    border-color: hsl(0, 78%, 62%)
}

.card_orange {
    border-color: hsl(34, 97%, 64%)
}

.card_blue {
    border-color: hsl(212, 86%, 64%)
}

.card__heading {
    font-size: 1.2rem;
    padding-bottom: .5rem;
}

.card__paragraph {
    font-size: .9rem;
    line-height: 1.6rem;
}

.icon {
    padding: 1rem 0;
}
 
.icon_right {
   align-self: flex-end;
}

.list-cards {
    display: flex;
}

.list-cards_positioned {
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1300px) {
    .list-cards_positioned {
        flex-direction: row;
        justify-content: space-around;
        margin: auto;
        width: 75%;
    }
}